* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

#grid_wrapper {
    display: grid;
    height: 100vh;
    gap: 2px;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 100px 300px 300px minmax(100px,1fr);
    grid-template-areas: 
    "hea hea"
    "nav sec_1"
    "nav sec_1"
    "foo foo"
}

header {
    grid-area: hea;
}

nav {
    grid-area: nav;    

}

footer {
    grid-area: foo;
}

#se_1_1 {
    grid-area: sec_1;
}

li {
    justify-content: space-around;
}