* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
    font-family: 'Times New Roman', Times, serif;
}



a {
    text-decoration: none;
}

header {
    grid-area: hea;
    border: 2px solid black;
}

nav {
    grid-area: nav;    
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: center;
    padding: 0; 
    list-style-type: none; 
    border: 2px solid black;
}

footer {
    grid-area: foo;
    border: 2px solid black;
}

input {
    margin: 10px;
}

#se_1_1 {
    grid-area: sec_1_1;
    border: 2px solid black;

}

#se_1_2 {
    grid-area: sec_1_2;
    border: 2px solid black;

}

.gallery_img {
    border: 2px solid black; 
    width: 100%;
    height: auto;
    margin: 5px;

}

.gallery_img:hover {
    border: 3px solid rgb(180, 29, 29); 
}

.footer_text {
    color: white;
    margin: 10px;
}

.nav_text {
    color: aliceblue;
}

.game_name {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#svg_logo {
    transition: all 0.3s ease;
}

.animate {
    animation: yep 6s;
}

@keyframes yep {
	0% {transform: translate(0px, 0px);}
	25% {transform: translate(200px, 0px);}
	50% {transform: translate(-200px, 0px);}
	75% {transform: translate(200px, 0px);}
    100% {transform: translate(0px, 0px);}
}



/* BLACKJACK */
#blackjack_body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#dealer-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#your-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#hit {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

#stay {
    width: 100px;
    height: 50px;
    font-size: 20px;
}


/* CANVAS */
#canvas {
    border: 2px solid black;
}


#paint_sec {
    text-align: center;
}


/* PLACEHOLDER */
#placeholder_body {
    background-color: white;
}

#se_placeholder {
    text-align: center;
    font-size: 30px;
    height: 100vh;
}



     @media screen and (max-width: 800px) {
        nav {
            display: none;
        }
     }


