* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    background-color: black;
}


/*#grid_wrapper {
    display: grid;
    height: 100vh;
    gap: 2px;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 100px 300px 300px minmax(100px,1fr);
    grid-template-areas: 
    "hea hea"
    "nav sec_1_1"
    "nav sec_1_2"
    "foo foo"
}
*/
header {
    grid-area: hea;
    border: 2px solid black;
}

nav {
    grid-area: nav;    
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: center;
    padding: 0; 
    list-style-type: none; 
    border: 2px solid black;
}

footer {
    grid-area: foo;
    border: 2px solid black;
}

#se_1_1 {
    grid-area: sec_1_1;
    border: 2px solid black;

}

#se_1_2 {
    grid-area: sec_1_2;
    border: 2px solid black;

}


/* BLACKJACK */
#blackjack_body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#dealer-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#your-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#hit {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

#stay {
    width: 100px;
    height: 50px;
    font-size: 20px;
}


/* CANVAS */
#canvas {
    border: 2px solid black;
}


#paint_sec {
    text-align: center;
}


/* PLACEHOLDER */
#placeholder_body {
    background-color: white;
}

#se_placeholder {
    text-align: center;
    font-size: 30px;
    height: 100vh;
}

#myChart {
    width: 25% !important;
    height: 100% !important;

}